.card-form{
    
    .uk-form-label{
        @include font-size($xs-font);
        color:$slate-blue;
        line-height: 2em;
        span{ 
            color:$aqua;
            @include font-size($xxxs-font);
            text-decoration: none;
            margin-left: 5px;
            text-transform: uppercase;
            font-weight: 200;
            letter-spacing: 1px;
    }
    p{
        margin: 0;
    }
    }

    .uk-margin{
        p{
            margin: 0;
        }   
    }
    .wpcf7-not-valid-tip{
        @include font-size($xs-font);
        color:$danger !important;
}
}