.card-action-buttons {
    display: block;
    padding: 32px 0;
    position: relative;
    .action-item {
        display: inline-block;
        width: auto;
        &:not(:last-child) {
            margin-right: 12px;
        }
        &.linkedin-action {
            .uk-button {
                width: 140px;
                @include md{
                    width: 160px;
                }
            }
            .linkedin-form {
                transition: all 0.5s $cubic;
                background: $white;
                padding: 38px 0;
                position: absolute;
                top: -4px;
                left: 0;
                overflow: hidden;
                z-index: 0;
                width: 160px;
                opacity: 0;
                .uk-inline {
                    width: 100%;
                    .uk-input {
                        width: calc(100% - 120px);
                        height: 38px;
                        @include md{
                            width: calc(100% - 140px);
                        }
                    }
                    button {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
                .uk-alert {
                    //display: none;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 2;
                    background-color: $aqua;
                    color: $white;
                    width: 100%;
                    min-height: 40px;
                    border-radius: 4px;
                    .uk-alert-close {
                        right: 60px;
                    }
                }
            }
            &.linkedin-active {
                .linkedin-form {
                    z-index: 1;
                    width: 100%;
                    opacity: 1;
                }
            }
        }
    }
}